#schoolName{
    background-color: #002060;
    border-radius: 20px;
    color: white;
    font-family: 'Tw Cen MT';
}

marquee{
    background-color: darkorange;
    color: white;
    width: 100%;
}

#contactus_heading{
    margin-left: 50px;
}

#coverImgOuter{
    text-align: center;
}

#campusLife_library{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
    width: 600px;
}

#campusLife_auditorium{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    margin-top: -424px;
    padding-top: 20px;
    padding-left: 20px;
    width: 600px;
    margin-left: 620px;
    height: 414px;
}

#library_img{
    width: 400px;
}

#auditorium_img{
    width: 400px;
}

.achievement_head{
    font-size: 17px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.achievement_head i{
    float: right
}

#whatsnewHeading{
    text-align: center;
}

.img_modal{
    display: inline-block;
}

.p_modal{
    margin-top: 10px;
}